<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ programinfo.name }} {{ programinfo.version }}</title>
        <link rel="stylesheet" href="/css" />
    </head>
    <body>
        {% block content %}{% endblock %}
        <footer>
            <a href="{{ programinfo.homepage }}"><b>{{ programinfo.name }}</b></a>
            {{ programinfo.version }}
            |
            Licensed under the
            <a href="https://gnu.org/licenses/agpl-3.0.html">GNU AGPLv3</a>
        </footer>
    </body>
</html>
