{% extends "base.html" %}
{% block content %}
    <h1>Year {{ year }}</h1>

    {% include "crumbtrail.html" %}

    <ul>
        {% for month in months %}
            <li>
                <a href="/date/{{ "{:04}"|format(year) }}/{{ "{:02}"|format(month) }}">{{ "{:02}"|format(month) }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
