{% extends "base.html" %}
{% block content %}

    <h1>Photos in {{ month_name }} {{ "{:04}"|format(year) }}</h1>

    {% include "crumbtrail.html" %}

    {% include "paging.html" %}

    <div class="gridview">
    {% for photo in photos %}
        {% include "photo_entry.html" %}
    {% endfor %}
    </div>

    {% include "paging.html" %}

{% endblock %}
