{% extends "base.html" %}
{% block content %}

    <h1>Error {{ statuscode.as_u16() }}</h1>

    <div class="infobox">
        {% match statuscode.canonical_reason() %}
            {% when Some with (r) %}
                <p>{{ r }}</p>
            {% when None %}
        {% endmatch %}

        <p>{{ message }}</p>
        <p><a href="/">Back to the main page</a></p>
    </div>

{% endblock %}
