{% extends "base.html" %}
{% block content %}
    <h1>All photos</h1>
    <div class="gridview">
    {% for month in months %}
        <div class="collection">
            <div class="frame">
                <div class="aspectratiocontainer">
                    <div class="aspectratio">
                        {% match month.year_month %}
                            {% when Some with (d) %}
                                <a href="date/{{ "{:04}"|format(d.y) }}/{{ "{:02}"|format(d.m) }}">
                                    <img src="/date/{{ "{:04}"|format(d.y) }}/{{ "{:02}"|format(d.m) }}/thumbnail" /><br />
                                    {{ "{:04}-{:02}"|format(d.y, d.m) }} ({{ month.count }} photos)
                                </a>
                            {% when None %}
                                <a href="date/none">
                                    <img src="/date/none/thumbnail" /><br />
                                    Without date ({{ month.count }} photos)
                                </a>
                        {% endmatch %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
