{% if paging.pages() != 0 %}
<div class="paging">
<span class="paging">
{% for page in 0..=paging.pages() %}
    {% if page == paging.page %}
        <span class="page current">
            <a href="?page={{ page }}">{{ page + 1 }}</a>
        </span>
    {% else %}
        <span class="page">
            <a href="?page={{ page }}">{{ page + 1 }}</a>
        </span>
    {% endif %}
{% endfor %}
</span>
</div>
{% endif %}
