<div class="photo">
<div class="frame">
    <div class="aspectratiocontainer">
        <div class="aspectratio">
            <a href="/photo/{{ photo.uuid }}"><img src="/photo/{{ photo.uuid }}/thumbnail" /></a>
        </div>
    </div>
</div>
</div>
