{% extends "base.html" %}
{% block content %}
    <h1>Photo {{ uuid }}</h1>
    <ul>
        {% for item in items %}
            <li>
                <a href="/photo/{{ uuid }}/file/{{ item.sha1sum }}">
                    {{ item.filename }}
                    ({{ item.role }} / {{ item.size }} / {{ item.moment }})<br />
                    <img src="/photo/{{ uuid }}/file/{{ item.sha1sum}}" class="photo" />
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
