img {
    max-width: 100%;
    image-orientation: from-image;
}

div.photo img {
    border: solid 1px #a58f78;
}

div.collection img {
    border: solid 1px #191b22;
    border-radius: 7px;
}

div.collection div.frame {
    border-radius: 15px;
    border: solid 1px #191b22;
    box-shadow: 3px 3px 0px 0px #a9a9a9, 4px 4px 0px 0px #000000, 7px 7px 0px 0px #a9a9a9, 8px 8px 0px 0px #000000;
    padding: 10px;
}

div.photo div.frame {
    padding: 0.2rem;
}

div.frame {
    background-color: #f3debf;
    vertical-align: center;
    text-align: center;
}

div.aspectratiocontainer {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

div.aspectratio {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background-color: #454545;
    color: #9a9a9a;
}

a:link {
    color: #4ea2df;
    text-decoration: none;
}

a:visited {
    color: #6b4dde;
    text-decoration: none;
}

div.gridview {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax({{ programinfo.thumbnail_maxsize }}px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax({{ programinfo.thumbnail_maxsize }}px, 1fr));
    justify-content: stretch;
    align-content: stretch;
    padding-bottom: 2rem;
}

div.photo {
    background-color: #f3debf;
    padding: 0.1rem;
    border: solid 1px #191b22;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
}

div.paging {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

span.paging {
    border: solid 1px #383838;
    background-color: #d8d8d8;
}

span.paging span.page {
    border-left: solid 1px #a3a3a3;
}

span.paging span.page a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    align: center;
}

.current {
    font-weight: bold;
    box-shadow: inset 0px 0px 2px 2px rgba(50, 50, 200, 0.75);
}

footer {
    margin-top: 1em;
}

div.infobox {
    background-color: #f3debf;
    padding: 0.1rem;
    border: solid 1px #191b22;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
}
